In [7]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result = iris.loc[:, ['sepal_length','species']]
result.head(1)

   sepal_length species
0           5.1  setosa

## to_excel 함수를 이용한 엑셀 생성
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel

In [6]:
result.to_excel("file_test_dataset/iris_excel_file.xlsx",
                    sheet_name='Sheet_name_1',
                    index=False)

## group by 연산
- 집계함수 같이 사용

In [8]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [12]:
## 성별로 tip 평균 구하기

#                                  컬럼명
tips.groupby('sex', observed=True)['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [13]:
## 요일별 총 결제 금액

tips.groupby('day', observed=True)['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

In [15]:
## 요일 & 성별로 팁 평균
# 리스트로 묶어버리면 됨

tips.groupby(['day', 'sex'], observed=True)['total_bill'].sum()

day   sex
Thur  Male       561.44
      Female     534.89
Fri   Male       198.57
      Female     127.31
Sat   Male      1227.35
      Female     551.05
Sun   Male      1269.46
      Female     357.70
Name: total_bill, dtype: float64

In [16]:
## 식사 시간별 인원 수 평균
# time, size

tips.groupby(['time'], observed=True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

In [18]:
## 두가지 범주 그룹바이 출력 변환

result = tips.groupby(['day', 'sex'], observed=True)['tip'].mean()
result.unstack() # 데이터프레임 형태로 출력 #원래 result는 시리즈 타입인데 unstack하면 데이터프레임 타입으로 바뀜

sex       Male    Female
day
Thur  2.980333  2.575625
Fri   2.693000  2.781111
Sat   3.083898  2.801786
Sun   3.220345  3.367222

In [21]:
## 집계함수 2개 사용

result = tips.groupby(['day', 'sex'], observed=True)['tip'].agg(['sum','mean']) # agg() 함수 사용 -> 집계함수 2개 출력
result

                sum      mean
day  sex
Thur Male     89.41  2.980333
     Female   82.42  2.575625
Fri  Male     26.93  2.693000
     Female   25.03  2.781111
Sat  Male    181.95  3.083898
     Female   78.45  2.801786
Sun  Male    186.78  3.220345
     Female   60.61  3.367222

In [30]:
#                                                   중첩 리스트로 작성해야함.
result = tips.groupby(['day', 'sex'], observed=True)[['tip', 'total_bill']].agg(['sum','mean'])
result.columns = ['_'.join(col) for col in result.columns]
result.reset_index().to_csv("file_test_dataset/tips_grouby.csc", index=False) # 데이터 프레임 깔끔하게 만들 걸 그대로 엑셀파일로 저장