>**기출문제 제3회**
>>**01 작업형 제1유형**

## 옵션 설정

In [6]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

In [7]:
import pandas as pd 

data = pd.read_csv('3_1.csv')
data.head()

,city,homeType,latitude,longitude,garageSpaces,hasSpa,yearBuilt,numOfPatioAndPorchFeatures,lotSizeSqFt,avgSchoolRating,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,priceRange
0,austin,Single Family,30.197647,-97.816811,2,False,1981,0,9757.0,4.000000,13,NaN,3,350000-450000
1,austin,Single Family,30.329187,-97.752731,2,False,1951,0,10846.0,7.000000,16,NaN,4,650000+
2,austin,Single Family,30.313305,-97.699669,0,False,1954,0,9016.0,5.000000,15,NaN,3,350000-450000
3,austin,Single Family,30.156321,-97.748291,2,False,2008,0,5662.0,5.333333,15,NaN,3,0-250000
4,austin,Townhouse,30.366995,-97.753548,2,False,1984,0,3049.0,7.000000,16,NaN,2,350000-450000

## 문제 1. 
- 다음 데이터에서 lotSizeSqFt이 큰 top 10을 구하고, top 10 값 중 가장 작은 값으로 해당 값을 대치하시오. 
- 또한, 건축 연도(yearBuilt)가 2000년도 이상인 IoTSizeSqFt의 평균을 구하시오.
- 소수점 첫째 자리에서 반올림, 대치된 IoTSizeSqFt 기준

In [11]:
print(data.lotSizeSqFt)

0       9757.0
1      10846.0
2       9016.0
3       5662.0
4       3049.0
        ...
495     7797.0
496     6011.0
497     8712.0
498     6621.0
499     8624.0
Name: lotSizeSqFt, Length: 500, dtype: float64

In [24]:
## 다음 데이터에서 lotSizeSqFt이 큰 top 10을 구하고
lot_top = data.sort_values(by="lotSizeSqFt", ascending=False).head(10)
print(lot_top)

       city       homeType   latitude  longitude  garageSpaces  hasSpa  \
412  austin  Single Family  30.169123 -97.989502             0   False
6    austin  Single Family  30.143131 -97.963493             0   False
175  austin  Single Family  30.233570 -98.008072             7    True
97   austin  Single Family  30.308285 -97.886971             4   False
68   austin  Single Family  30.199959 -98.008118             0   False
440  austin  Single Family  30.277033 -97.825966             0   False
399  austin  Single Family  30.157799 -97.966972             2   False
480  austin  Single Family  30.179605 -97.954399             0   False
265  austin    Residential  30.271873 -97.864944             3    True
71   austin  Single Family  30.436773 -97.715294             2   False

     yearBuilt  numOfPatioAndPorchFeatures  lotSizeSqFt  avgSchoolRating  \
412       2010                           0     871200.0         8.000000
6         1985                           0     225205.2         7.000000
175       2017                           3     211701.6         6.666667
97        2001                           2     197326.8         9.333333
68        2007                           0     175982.4         6.666667
440       1993                           0      98445.6         9.500000
399       2001                           1      87120.0         8.000000
480       2000                           0      80150.4         8.000000
265       2008                           3      77972.4         5.666667
71        1992                           0      71438.4         5.333333

     MedianStudentsPerTeacher  numOfBathrooms  numOfBedrooms     priceRange
412                        15             3.0              4  350000-450000
6                          16             NaN              3       0-250000
175                        16             4.0              4        650000+
97                         14             7.0              6        650000+
68                         16             4.0              5        650000+
440                        14             6.0              4        650000+
399                        15             2.0              3  450000-650000
480                        15             4.0              4        650000+
265                        16             5.0              4        650000+
71                         14             3.0              3        650000+

In [26]:
## 건축 연도(yearBuilt)가 2000년도 이상인 IoTSizeSqFt의 평균을 구하시오.
#import numpy as np

filtered = lot_top[lot_top.yearBuilt > 1999]
lot_sum = filtered.lotSizeSqFt.sum()
i = len(filtered)

lot_mean = round(lot_sum / i)
print(lot_mean)

243065

## 문제 2. 
- 컬럼별 결측치 존재 여부를 확인하고, 결측치가 존재하는 경우 해당 컬럼의 중앙값으로 결측치를 대치하시오. 
- 결측치 대신 전과 후 표준편차 차이의 절댓값을 구하시오. 
- 소수점 둘째 자리까지 반올림

In [27]:
data2 = data.copy()

In [37]:
## 컬럼별 결측치 존재 여부를 확인하고
data2.isnull().sum()

city                           0
homeType                       0
latitude                       0
longitude                      0
garageSpaces                   0
hasSpa                         0
yearBuilt                      0
numOfPatioAndPorchFeatures     0
lotSizeSqFt                    0
avgSchoolRating                0
MedianStudentsPerTeacher       0
numOfBathrooms                11
numOfBedrooms                  0
priceRange                     0
dtype: int64

In [42]:
## 결측치가 존재하는 경우 해당 컬럼의 중앙값으로 결측치를 대치하시오.
import numpy as np
for col in data2.columns:
    if data2[col].isnull().sum() > 0:
        median_val = np.median(data2[col].dropna())
        data2[col].fillna(median_val, inplace=True)

print(data2.isnull().sum())

city                          0
homeType                      0
latitude                      0
longitude                     0
garageSpaces                  0
hasSpa                        0
yearBuilt                     0
numOfPatioAndPorchFeatures    0
lotSizeSqFt                   0
avgSchoolRating               0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
priceRange                    0
dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_21228\431477802.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(median_val, inplace=True)

In [44]:
## 결측치 대신 전과 후 표준편차 차이의 절댓값을 구하시오.
import numpy as np

for col in data2.columns:
    null_before = np.std(data2[col])

    if data2[col].isnull().sum() > 0:
        median_val = np.median(data2[col].dropna())
        null_after = np.std(data2[col])

print("결측치 전")

print("결측치 후")

TypeError: could not convert string to float: 'austin'

In [9]:
# 코드 작성

## 문제 3. 
- 평균으로부터 1.5x 표준편차 범위 밖의 값을 이상치로 판단
- MedianStudentsPerTeacher의 이상치를 구하고, 이상치의 개수를 구하시오.

In [10]:
# 코드 작성