In [1]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result = iris.loc[:, ['sepal_length','species']]


## 파일명 iris_mission.csv
## lab01/dataset/iris_mission.csv
##result.to_csv("상위폴더")

result.to_csv("../file_test_dataset/iris_mission/iris_mission.csv", index=False)

In [6]:
result_pd = pd.read_csv("../file_test_dataset/iris_mission/iris_mission.csv")
result_pd.head(4)

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa